body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;

}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    padding-bottom:10px ;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

hr {
    border: dotted #BDCDD6 6px; 
    border-bottom: none;
    width:4%;
    margin:100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin:10px 20px;
}
a:hover {
    color:#EAF6F6;
}


.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;


}
.middle-container {
    margin: 50px auto;
}
.bottom-container {
    background-color: #66BFBF;
    color: #11999E;
    padding: 50px 0 20px;
}
.intro {
    width: 30%;
    margin: auto;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.HTML-IMG {

    width: 25%;
    float: right;
    margin-left: 30px;
}

.CSS-IMG {
    width: 25%;
    float: left;
    margin-right: 30px;
   
}

.JS-IMG {
    width: 25%;
    float: right;
    margin-left: 30px;

}

.profile-pic {
    padding-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.contact-message {
width: 40%;
margin: 40px auto 60px;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }



.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #1c191c;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #243038);
    background-image: -moz-linear-gradient(top, #3cb0fd, #243038);
    background-image: -ms-linear-gradient(top, #3cb0fd, #243038);
    background-image: -o-linear-gradient(top, #3cb0fd, #243038);
    background-image: linear-gradient(to bottom, #3cb0fd, #243038);
    text-decoration: none;
  }
  .giphy-embed {
   border-radius: 50%;
  }
